* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F9FAFC;
}

.company-link {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
}

.nav-item {
    margin: 10px 10px;
}

.link {
    text-decoration: none;
    color: #69696A;
}

.button {
    display: block;
    background-color: #000;
    color: #FFF;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.about-title {
    font-size: 32px;
    margin: 20px 10px;
}

.about-text {
    border-left: 3px solid #69696A;
    padding-left: 10px;
    margin-left: 10px;
    color: #69696A;
}